{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>インディーズバンド・アーティスト向け 無料ホームページテンプレート tp_band1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<meta name="keywords" content="キーワード１,キーワード２,キーワード３,キーワード４,キーワード５">
<link rel="stylesheet" href="{% static 'book/css/style.css' %}">
<script src="{% static 'js/openclose.js' %}"></script>
<script src="{% static 'js/fixmenu_pagetop.js' %}"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="c1">

<div id="container">

<header>
<h1 id="logo"><a href="{% url 'index' %}"><img src="{% static 'book/images/logo.png' %}" alt="INDIES BAND"></a></h1>
<!--PC用（901px以上端末）メニュー-->
<nav id="menubar">
<ul>
<li><a href="{% url 'readme' %}">READ ME</a></li>
<li><a href="{% url 'news' %}">NEWS</a></li>
<li><a href="{% url 'profile' %}">ATTENTION</a></li>
<li><a href="{% url 'event' %}">BESTPLAYER</a></li>
<li><a href="{% url 'discography' %}">EVALUATION</a></li>
<li class="current"><a href="{% url 'contact' %}">CONTACT</a></li>
</ul>
</nav>
<ul class="icon">
<li><a href="#"><img src="{% static 'book/images/icon_facebook.png' %}" alt="Facebook"></a></li>
<li><a href="#"><img src="{% static 'book/images/icon_twitter.png' %}" alt="Twitter"></a></li>
<li><a href="#"><img src="{% static 'book/images/icon_instagram.png' %}" alt="Instagram"></a></li>
<li><a href="#"><img src="{% static 'book/images/icon_youtube.png' %}" alt="YouTube"></a></li>
</ul>
</header>

<div id="contents">

<div id="main">

<section>

<h2>CONTACT<span>みんなの回答</span></h2>
		<tr>
			<table class="ta1">
				<tr>
				<th>選手の名前 ()</th>
				<td><input type="text" name="お名前" size="30" class="ws"></td>
				</tr>
				<tr>
				<th>シュート※</th>
				<td>        
				  <input type="radio" name="a" value="1">1
				  <input type="radio" name="a" value="2">2
				  <input type="radio" name="a" value="3">3
				  <input type="radio" name="a" value="4">4
				  <input type="radio" name="a" value="5">5
				  <input type="radio" name="a" value="6">6
				  <input type="radio" name="a" value="7">7
				  <input type="radio" name="a" value="8">8
				  <input type="radio" name="a" value="9">9
				  <input type="radio" name="a" value="10">10
				</td>
				</tr>
				<tr>
					<th>フィジカル※</th>
					<td>
					  <input type="radio" name="b" value="1">1
					  <input type="radio" name="b" value="2">2
					  <input type="radio" name="b" value="3">3
					  <input type="radio" name="b" value="4">4
					  <input type="radio" name="b" value="5">5
					  <input type="radio" name="b" value="6">6
					  <input type="radio" name="b" value="7">7
					  <input type="radio" name="b" value="8">8
					  <input type="radio" name="b" value="9">9
					  <input type="radio" name="b" value="10">10
					</td>
					</tr>
					<tr>
						<th>パワー※</th>
						<td>        
						  <input type="radio" name="c" value="1">1
						  <input type="radio" name="c" value="2">2
						  <input type="radio" name="c" value="3">3
						  <input type="radio" name="c" value="4">4
						  <input type="radio" name="c" value="5">5
						  <input type="radio" name="c" value="6">6
						  <input type="radio" name="c" value="7">7
						  <input type="radio" name="c" value="8">8
						  <input type="radio" name="c" value="9">9
						  <input type="radio" name="c" value="10">10</td>
						</tr>				<tr>
							<th>フォーム※</th>
							<td>        
							  <input type="radio" name="d" value="1">1
							  <input type="radio" name="d" value="2">2
							  <input type="radio" name="d" value="3">3
							  <input type="radio" name="d" value="4">4
							  <input type="radio" name="d" value="5">5
							  <input type="radio" name="d" value="6">6
							  <input type="radio" name="d" value="7">7
							  <input type="radio" name="d" value="8">8
							  <input type="radio" name="d" value="9">9
							  <input type="radio" name="d" value="10">10</td>
							</tr>				<tr>
								<th>スピード※</th>
								<td>        
								  <input type="radio" name="e" value="1">1
								  <input type="radio" name="e" value="2">2
								  <input type="radio" name="e" value="3">3
								  <input type="radio" name="e" value="4">4
								  <input type="radio" name="e" value="5">5
								  <input type="radio" name="e" value="6">6
								  <input type="radio" name="e" value="7">7
								  <input type="radio" name="e" value="8">8
								  <input type="radio" name="e" value="9">9
								  <input type="radio" name="e" value="10">10</td>
								</tr>				<tr>
									<th>ポジション取り※</th>
									<td>        
									  <input type="radio" name="f" value="1">1
									  <input type="radio" name="f" value="2">2
									  <input type="radio" name="f" value="3">3
									  <input type="radio" name="f" value="4">4
									  <input type="radio" name="f" value="5">5
									  <input type="radio" name="f" value="6">6
									  <input type="radio" name="f" value="7">7
									  <input type="radio" name="f" value="8">8
									  <input type="radio" name="f" value="9">9
									  <input type="radio" name="f" value="10">10</td>
									</tr>				<tr>
										<th>パス制度※</th>
										<td>        
										  <input type="radio" name="g" value="1">1
										  <input type="radio" name="g" value="2">2
										  <input type="radio" name="g" value="3">3
										  <input type="radio" name="g" value="4">4
										  <input type="radio" name="g" value="5">5
										  <input type="radio" name="g" value="6">6
										  <input type="radio" name="g" value="7">7
										  <input type="radio" name="g" value="8">8
										  <input type="radio" name="g" value="9">9
										  <input type="radio" name="g" value="10">10</td>
										</tr>				<tr>
											<th>ジャンプ※</th>
											<td>        
											  <input type="radio" name="h" value="1">1
											  <input type="radio" name="h" value="2">2
											  <input type="radio" name="h" value="3">3
											  <input type="radio" name="h" value="4">4
											  <input type="radio" name="h" value="5">5
											  <input type="radio" name="h" value="6">6
											  <input type="radio" name="h" value="7">7
											  <input type="radio" name="h" value="8">8
											  <input type="radio" name="h" value="9">9
											  <input type="radio" name="h" value="10">10</td>
											</tr>				<tr>
												<th>リバウンド※</th>
												<td>        
												  <input type="radio" name="i" value="1">1
												  <input type="radio" name="i" value="2">2
												  <input type="radio" name="i" value="3">3
												  <input type="radio" name="i" value="4">4
												  <input type="radio" name="i" value="5">5
												  <input type="radio" name="i" value="6">6
												  <input type="radio" name="i" value="7">7
												  <input type="radio" name="i" value="8">8
												  <input type="radio" name="i" value="9">9
												  <input type="radio" name="i" value="10">10</td>
												</tr>				<tr>
													<th>状況把握※</th>
													<td>        
													  <input type="radio" name="j" value="1">1
													  <input type="radio" name="j" value="2">2
													  <input type="radio" name="j" value="3">3
													  <input type="radio" name="j" value="4">4
													  <input type="radio" name="j" value="5">5
													  <input type="radio" name="j" value="6">6
													  <input type="radio" name="j" value="7">7
													  <input type="radio" name="j" value="8">8
													  <input type="radio" name="j" value="9">9
													  <input type="radio" name="j" value="10">10</td>
													</tr>				<tr>
														<th>判断力※</th>
														<td>        
														  <input type="radio" name="k" value="1">1
														  <input type="radio" name="k" value="2">2
														  <input type="radio" name="k" value="3">3
														  <input type="radio" name="k" value="4">4
														  <input type="radio" name="k" value="5">5
														  <input type="radio" name="k" value="6">6
														  <input type="radio" name="k" value="7">7
														  <input type="radio" name="k" value="8">8
														  <input type="radio" name="k" value="9">9
														  <input type="radio" name="k" value="10">10</td>
														</tr>				<tr>
															<th>協調性※</th>
															<td>        
															  <input type="radio" name="l" value="1">1
															  <input type="radio" name="l" value="2">2
															  <input type="radio" name="l" value="3">3
															  <input type="radio" name="l" value="4">4
															  <input type="radio" name="l" value="5">5
															  <input type="radio" name="l" value="6">6
															  <input type="radio" name="l" value="7">7
															  <input type="radio" name="l" value="8">8
															  <input type="radio" name="l" value="9">9
															  <input type="radio" name="l" value="10">10</td>
															</tr>
				<tr>
				<th>自由記入欄※</th>
				<td><textarea name="お問い合わせ詳細" cols="30" rows="10" class="wl"></textarea></td>
				</tr>
				</table>
</section>

</div>
<!--/#main-->

<div id="sub">

</div>
<!--/#sub-->

</div>
<!--/#contents-->

<footer>
	<small>basketball.&copy;site </small><br>
	<a href="{% url 'index' %}">《INDIES BAND》</a><br>
	</footer>

</div>
<!--/#container-->

<!--小さな端末用（900px以下端末）メニュー-->
<nav id="menubar-s">
<ul>
<li><a href="{% url 'readme' %}">READ ME</a></li>
<li><a href="{% url 'news' %}">NEWS</a></li>
<li><a href="{% url 'profile' %}">ATTENTION</a></li>
<li><a href="{% url 'event' %}">BESTPLAYER</a></li>
<li><a href="{% url 'discography' %}">EVALUATION</a></li>
<li><a href="{% url 'contact' %}">CONTACT</a></li>
</ul>
</nav>

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>

<!--メニューの開閉処理条件設定　900px以下-->
<script>
if (OCwindowWidth() <= 900) {
	open_close("menubar_hdr", "menubar-s");
}
</script>

</body>
</html>
